<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="title" content="머글뉴스" />
<meta name="description" content="어렵고 복잡한 뉴스를, 시간에 따라, 처음부터 끝까지">
<meta name="author" content="머글모임">

<link rel="icon" href="/favicon.ico">
<title>머글뉴스</title>
<!-- Bootstrap core CSS -->
<link href="/css/common.css" rel="stylesheet">

<meta property="og:title" content="머글뉴스" />
<meta property="og:description" content="어렵고 복잡한 뉴스를, 시간에 따라, 처음부터 끝까지" />
<meta property="og:url" content="http://www.muggle.news" />
<meta property="og:image" content="http://www.muggle.news/images/facebook_img.png" />