<div class="footer">
    <div class="foot-wrap">
        <ul class="foot-list">
            <li><a href="">문의하기</a></li>
            <li><a href="/terms">이용악관</a></li>
            <li><a href="/privacy">개인정보 취급방침</a></li>
        </ul>
        <div class="copyright">
            <p>@Muggle.news All right reserved.</p>
        </div>
        <a href="https://www.facebook.com/muggle.news/?fref=ts" target="_blank" class="goto-facebook">인기있는 머글뉴스 페이스북에서 받아보기<img src="/images/ico-facebook-01@3x.png" alt="페이스북 바로가기"></a>
    </div><!--e//foot-wrap -->
</div><!--e//footer -->