@CHARSET "UTF-8";
.edit {
    position: relative;
}
.edit .header {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:80px;
    margin:0 auto;
    z-index:5;
    background:transparent;
}
.edit .header a.logo {
    width:130px;
    height:20px;
    margin:30px 0 0 20px;
    background:url(../images/logo-02@3x.png) no-repeat 0 0;
    background-size:131px 20px;
}
.edit .header .logo img {
    width:18px;
}
.edit .header .logo span{
    font-size:0;
    text-indent:-999px;
}
.edit .header .mymenu .icon-mymenu {
    background:url(../images/icon-menu-w@3x.png) no-repeat;
    background-size:24px 20px;
}

.edit .header .edit-box {
    position: absolute;
    top:30px;
    right:30px;
}
.edit .header .edit-box a {
    padding:0 10px;
}
.edit .header .edit-box a img{
    width:18px;
    margin-right:5px;
}
.edit .header .edit-box a.delete img{
    width:15px;
}
.edit .header .edit-box a span {
    font-size:14px;
    color: #ffffff;
    line-height:1.3;
}
.edit .header.middle {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:80px;
    background:#ffffff;
    border-bottom: solid 1px #efefef;
    z-index: 1000;
}
.edit .header.middle a.logo {
    background: url(../images/logo-01@3x.png) no-repeat 0 0;
    background-size:130px 20px;
}
.edit .header.middle .mymenu .icon-mymenu{
    background:url(../images/icon-menu-r@3x.png) no-repeat;
    background-size:24px 20px;
}
.edit .header.middle .edit-box {
    display: none;
}
.edit .header.middle .login-box {
    display: block;
}
.container.edit {
    position: relative;
    width:100%;
    height:auto;
    background: #ffffff;
    border-bottom:1px solid #f7f7f7;
    overflow: hidden;
}
.container.edit .bg {
    width:100%;
    height:500px;
    background:url(../images/img_cover_base_00.png) no-repeat center center;
    background-size:cover;
}
.container.edit .bg img {
    width:100%;
    height:100%;
    object-fit: cover;
}
.container.edit .inner-box {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:500px;
    background-color: rgba(0, 0, 0, 0.3);
}
.container.edit .news-cover {
    position: relative;
    width:100%;
    height:270px;
    padding:230px 0 0 0;
    z-index:10;
}
.container.edit h1 {
    width:94%;
    height:60px;
    line-height:60px;
    text-align: center;
    padding:0 3%;
    color: #ffffff;
    font-size:50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.container.edit h1 input{
    width:90%;
    height:60px;
    line-height:60px;
    text-align: center;
    padding:0 5%;
    margin:0 auto;
    color: #ffffff;
    font-size:50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    background: transparent;
    border:none;
}
.container.edit h1 ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
    font-weight: bold;
}
.container.edit h1 ::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
    font-weight: bold;
}
.container.edit h1 :-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
    font-weight: bold;
}
.container.edit h1 :-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
    font-weight: bold;
}
.container.edit .h1_desc {
    width:94%;
    line-height:30px;
    text-align: center;
    padding:0 3%;
    color: #ffffff;
    font-size:24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.container.edit .h1_desc input{
    width:94%;
    line-height:30px;
    text-align: center;
    padding:0 3%;
    color: #ffffff;
    font-size:24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    background: transparent;
    border:none;
}
.container.edit .h1_desc ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
}
.container.edit .h1_desc ::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
}
.container.edit .h1_desc :-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
}
.container.edit .h1_desc :-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
}
.container.edit .user-infor {
    width:100%;
    text-align: center;
    margin-top:25px;
    height:34px;
    line-height:34px;
}
.container.edit .user-infor .user-profile {
    left:0;
    display: inline-block;
    width:33px;
    height:33px;
    overflow: hidden;
    -webkit-border-radius:34px;
    -moz-border-radius:34px;
    border-radius:34px;
    border: solid 1px #ffffff;
}
.container.edit .user-infor .user-profile img{
    vertical-align: middle;
    width:100%;
    height:100%;
}
.container.edit .user-name {
    /*display: inline-block;
    position: relative;
    line-height:33px;
    height:33px;
    font-size:18px;
    color: #ffffff;
    vertical-align: top;*/
}
.container.edit .last-edit {
    position: absolute;
    bottom:20px;;
    height:20px;
    line-height:1.3;
    text-align: left;
    font-size:14px;
    color: #dddddd;
}
.container.edit .last-edit span{
    display: inline-block;
    margin:0 8px 0 0;
}
.container.edit .view-count {
    position: absolute;
    bottom:20px;
    height:20px;
    line-height:1.3;
    text-align: right;
    font-size:14px;
    color: #dddddd;
}
.container.edit .view-count span {
    padding-left:20px;
    background:url(../images/ico-viewcount@3x.png) no-repeat 0 3px;
    background-size: 14px 10px;
}
.edit .container .news-cover .cover-edit {
    width:90%;
    margin:0 auto;
}
.edit .container .news-cover .cover-edit .btn-cover-edit {
    position: relative;
    text-align: center;
}
.edit .container .news-cover .cover-edit .btn-cover-edit input {
    position: absolute;
    top:30px;
    background: none;
    border:none;
    opacity: 0;
    height:36px;
    margin-left:-60px;
}
.edit .container .news-cover .cover-edit .btn-cover-edit span{
    display: inline-block;
    padding:40px 0 0 25px;
    font-size:14px;
    color: #ffffff;
    font-weight:300;
    background:url(../images/ico-cover-change-00@3x.png) no-repeat 0 100%;
    background-size:18px;
    z-index:100;
    cursor: pointer;
}
.edit .container .news-cover .btn-box {
    width: 720px;
    max-width: 720px;
    height: 20px;
    line-height: 1.3;
    position: absolute;
    right: 20px;
    top: 20px;
    text-align: right;
}
.edit .container .news-cover .btn-box .btn-red,
.edit .container .news-cover .btn-box .btn-gray {
    display: inline-block;
    height:40px;
    line-height:41px;
    padding:0 20px;
    color: #ffffff;
    font-size:16px;
    margin:0 0 0 20px;
    border:none;
    background:transparent;
}
.edit .container .news-cover .btn-box .btn-red {
    background:#ef5441;
}
.edit .container .news-cover .btn-box .btn-gray{
    background:#cccccc;
}
/* news-container {*/
.edit .news-container  {
    margin:0 auto;
}
.edit .news-container ul {
    padding:0 0 0 22px;
    margin-top:125px;
}
.edit .news-container ul li:first-child {
    padding:0;
}
.edit .news-container ul li:last-child {
    padding:90px 0 70px 0;
    border-left:1px solid #ffffff;
}
.edit .news-container ul li:last-child .section {
    position: relative;
}
.edit .news-container ul li:last-child .section::after{
    display: block;
    position: absolute;
    top: -90px;
    left: -1px;
    width:1px;
    height:90px;
    content:"";
    background:#eeeeee;
}
.edit .news-container ul li:first-child .section::after {
    display: none;
}
.edit .news-container ul li {
    display: block;
    position: relative;
    padding:90px 0 0 0;
    border-left:1px solid #eeeeee;
}
.edit .news-container .section .number {
    position: relative;
    margin-left: -50px;
    padding: 0 0 0 50px;
}
.edit .news-container .section .number .list-count {
    position: absolute;
    top:0;
    left:0;
    width:45px;
    height:45px;
    line-height:46px;
    text-align: center;
    font-size:18px;
    color: #ffffff;
    background: #ef5441;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
}
.edit .news-container .section h2 {
    line-height:1.2;
    font-size:42px;
    color: #666666;
    font-weight:600;
}
.edit .news-container .section h2 input {
    width:95%;
    height:45px;
    font-size:42px;
    border:none;
    background: transparent;
    margin-bottom:30px;
}
.edit .news-container .section h2 input ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bbbbbb;
    font-weight: bold;
}
.edit .news-container .section h2 input ::-moz-placeholder { /* Firefox 19+ */
    color: #bbbbbb;
    font-weight: bold;
}
.edit .news-container .section h2 input :-ms-input-placeholder { /* IE 10+ */
    color: #bbbbbb;
    font-weight: bold;
}
.edit .news-container .section h2 input :-moz-placeholder { /* Firefox 18- */
    color: #bbbbbb;
    font-weight: bold;
}
.edit .news-container .section .news-date {
    position: absolute;
    top:-26px;
    left:60px;
}
.edit .news-container .section .news-date span {
    color: #999999;
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
}
.edit .news-container .section .news-date .data-table,
.edit .news-container .section .news-date .time-table {
    position: absolute;
    top:-30px;
    height:36px;
}
.edit .news-container .section .news-date .data-table {
    width:140px;
    height:36px;
    left:0;
    font-size:16px;
    color: #bbbbbb;
    border:1px solid #f7f7f7;
    background:url(../images/ic-date@3x.png) no-repeat 7px center;
    background-size:18px 20px;
}
.edit .news-container .section .news-date .data-table input ,
.edit .news-container .section .news-date .time-table input {
    width:100px;
    height:36px;
    padding:0 0 0 40px;
    text-align: left;
    font-size:16px;
    color: #bbbbbb;
    border: none;
    background:transparent;
}
.edit .news-container .section .news-date .time-table {
    width:140px;
    height:36px;
    left:150px;
    font-size:16px;
    color: #bbbbbb;
    border:1px solid #f7f7f7;
    background:url(../images/ic-time@3x.png) no-repeat 7px center;
    background-size:20px 20px;
}
.edit .news-container .number .btn-box .more-vert {
    display: block;
    width:24px;
    height:24px;
}
.edit .news-container .number .btn-box .more-vert img {
    width:16px;
    height:4px;
}
.edit .news-container .number .btn-box {
    position: absolute;
    top:-45px;
    right:0;
}
.edit .news-container .number .mynew-edit {
    display: none;
    width:90px;
    position: absolute;
    top:24px;
    right:24px;
    padding:10px;
    background-color: #fefefe;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.edit .news-container .number .mynew-edit a{
    display: block;
    width:65px;
    padding:5px 0 5px 25px;
    font-size:14px;
    color: #999999;
}
.edit .news-container .number .mynew-edit a.edit-news{
    background:url(../images/mynews-add@3x.png) no-repeat 3px 7px;
    background-size:12px 12px;

}
.edit .news-container .number .mynew-edit a.del-news{
    padding:5px 0 10px 25px;
    background:url(../images/mynews-del@3x.png) no-repeat 3px 6px;
    background-size:10px 12px;
}
.edit .news-container .number .mynew-edit a.up-news {
    padding:10px 0 5px 25px;
    border-top:1px solid #eeeeee;
    background:url(../images/mynews-up@3x.png) no-repeat 3px 15px;
    background-size:9px 6px;
}
.edit .news-container .number .mynew-edit a.down-news{
    background:url(../images/mynews-down@3x.png) no-repeat 3px 10px;
    background-size:9px 6px;

}
.edit .news-container .section .new-conts .txt-area-zone {
    width:98%;
    height:auto;
    border:none;
    background:transparent;
}
.edit .news-container .section .new-conts .txt-area-zone textarea {
    border:none;
    background:transparent;
    width:100%;
    height:auto;
    min-height:24px;
    line-height:24px;
    resize: vertical;
    font-size:16px;
    color: #bbbbbb;
    outline:none;
}
.edit .news-container .section .new-conts .link-write {
    position: relative;
    padding:0 0 0 30px;
    margin:0 0 50px 0;
    background:url(../images/ic-link@3x.png) no-repeat 2px 7px;
    background-size:18px;
}
.edit .news-container .section .new-conts .link-write p {
    position: relative;
    padding:0 !important;
    /*background:url(../images/ic-check-off@3x.png) no-repeat 98% 5px;
    background-size:18px 14px;*/
}
.edit .news-container .section .new-conts .link-write p:hover {
    /* background:url(../images/ic-check-on@3x.png) no-repeat 98% 5px;
     background-size:18px 14px;*/
}
.edit .news-container .section .new-conts .link-write .input-link-checking {
    position: absolute;
    top:0;
    right:0;
    width:20px;
    height:20px;
    background:url(../images/ic-check-off@3x.png) no-repeat 98% 5px;
    background-size:18px 14px;
    border:none;
}
.edit .news-container .section .new-conts .link-write:hover .input-link-checking {
    position: absolute;
    top:0;
    right:0;
    width:20px;
    height:20px;
    background:url(../images/ic-check-on@3x.png) no-repeat 98% 5px;
    background-size:18px 14px;
}
.edit .news-container .section .new-conts .link-write p input {
    width:550px;
    font-size: 16px;
    line-height: 1.25;
    color: #666666;
    background:transparent;
    border:none;
}
.edit .news-container .section .new-conts .btn-box{
    width:100%;
    height:50px;
    margin-top:30px;
    text-align: right;
}
.edit .news-container .section .new-conts .btn-box button {
    width:auto;
    min-width:80px;
    height:46px;
    line-height:46px;
    padding:0 20px;
    margin:0 0 0 10px;
    text-align: center;
    font-size:20px;;
    outline:none;
    box-shadow: none;
    border:none;
}
.edit .news-container .section .new-conts .btn-box button:hover,
.edit .news-container .section .new-conts .btn-box button:active,
.edit .news-container .section .new-conts .btn-box button:focus {
    border:none;
    outline:none;
    box-shadow: none;
}
.edit .news-container .section .new-conts .btn-box .btn-cncl {
    color: #ffffff;
    background: #cccccc;
}
.edit .news-container .section .new-conts .btn-box .btn-save {
    color: #ffffff;
    background: #ef5441;
}
.edit .news-container .section .new-conts {
    min-height:250px;
}
.edit .news-container .section .new-conts p {
    font-size:16px;
    line-height:24px;
    color: #666666;;
}
.edit .news-container .section .new-conts p:first-child {
    padding-top:20px;
}
/* 프리뷰 가로 { */
.edit .news-container .section .preview {
    position: relative;
    width:100%;
    height:275px;
    overflow: hidden;
    margin-top:20px;
    border:1px solid #dddddd;
    z-index:500;
}
.edit .news-container .section .preview .preview-wrap {
    position: relative;
    height:100%;
}
.edit .news-container .section .preview .preview-wrap a{
    display: block;
    position: relative;
    height:100%;
    text-align: left;
}
.edit .news-container .section .preview .preview-wrap a .btn-del {
    display: none;
}
.edit .news-container .section .preview .preview-wrap a:hover .btn-del{
    display: block;
    width:20px;
    height:20px;
    position: absolute;
    top:15px;
    right:20px;
    background:url(../images/ic-close@3x.png) no-repeat 0 0;
    background-size:20px 20px;
    border:none;
    padding:0;
    margin:0;
}
.edit .news-container .section .preview .preview-wrap a:hover .btn-del span{
    font-size: 0;
}
.edit .news-container .section .preview .thum-img {
    width:100%;
    height:150px;
    overflow: hidden;
    background:url(../images/img_preview_base_00.png) no-repeat center center;
    background-size:cover;
    border-bottom:1px solid #eeeeee;
}
.edit .news-container .section .preview .thum-img img{
    width:100%;
    height:100%;
    /*object-fit: cover;*/
}
.edit .news-container .section .preview .title {
    padding:10px 10px 5px 10px;
    text-align: left;
}
.edit .news-container .section .preview .title p {
    font-size:20px;
    color: #333333;
    line-height:1.2;
    padding:0;
    text-align: left;
    overflow: hidden;
}

.edit .news-container .section .preview .txt-area p {
    font-size:14px;
    color: #666666;
    line-height:1.4;
    padding:0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word;
}
.edit .news-container .section .preview .preview-link {
    position: absolute;
    bottom:10px;
    left:10px;
    font-size:12px;
    color: #aaaaaa;
    font-weight: 300;
    display: block;
    overflow: hidden;
    width:90%;
    height:15px;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.edit .news-container .section .btn-box {
    position:absolute;
    bottom:0;
    right:0;
}
.edit .news-container .section #add_item_btn {
    height:40px;
    line-height:41px;
    padding:0 20px;
    margin:0 0 0 20px;
    border:none;
    background:#ef5441;
    box-shadow: none;
    font-size:18px;
    color: #ffffff;

}
/* 프리뷰 가로 } */
/* 프리뷰 세로 { */
.edit .news-container .section .preview.vertical{
    height:auto!important;
}
.edit .news-container .section .preview.vertical a{
    display: block;
    overflow: hidden;
}
.edit .news-container .section .preview.vertical .thum-img {
    width:35%;
    height:100%;
    float:left;
    overflow: hidden;
    background:url(../images/img_preview_base_00.png) no-repeat center center;
    background-size:cover;
    border-bottom:1px solid #eeeeee;
}
.edit .news-container .section .preview.vertical .thum-img img{
    width:100%;
    height:100%;
    /*object-fit: cover;*/
}
.edit .news-container .section .preview.vertical .title {
    width:65%;
    float:right;
    padding:0;
}
.edit .news-container .section .preview.vertical .title p {
    width:auto;
    padding:10px 10px 5px 10px;
    font-size:20px;
    color: #333333;
    line-height:1.2;
    text-align: left;
    overflow: hidden;
}
.edit .news-container .section .preview.vertical .txt-area{
    width:65%;
    float:right;
    padding:0;
}
.edit .news-container .section .preview.vertical .txt-area p {
    font-size:14px;
    color: #666666;
    line-height:1.4;
    padding:0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word;
}
.edit .news-container .section .preview.vertical .preview-link {
    position: absolute;
    bottom:10px;
    left:35%;
    width:59%;
    padding:0 0 0 10px;
    font-size:12px;
    color: #aaaaaa;
    font-weight: 300;
    display: block;
    overflow: hidden;
    height:15px;
    white-space:nowrap;
    text-overflow:ellipsis;
}
/* 프리뷰 세로 } */

.edit .news-container .section .new-conts .other-news-list {
    margin-top:30px;
    width:100%;
}
.edit .other-news-list {
    overflow: hidden;
    height:110px;
}
.edit .other-news-list h3 {
    text-align: left;
    font-size:18px;
    line-height:1.2;
    color: #666666;
}
.edit .other-news-list li {
    float:left;
    width:170px;
    height:80px;
}
/* news-container }*/
/*뉴스추가 {*/
.btn-add-new {
    margin-bottom:60px;
}
.btn-add-new a{
    position: relative;
    padding:0 0 0 60px;
    font-size: 42px;
    color: #666666;
    font-weight: 600;
}
.btn-add-new .add-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    line-height: 46px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    background: #9b9b9b url(../images/ic-add-article@3x.png) no-repeat center center;
    background-size:20px 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}
.btn-add-new a:hover {
    color: #ef5441;
}
.btn-add-new a:hover .add-icon {
    background: #ef5441 url(../images/ic-add-article@3x.png) no-repeat center center;
    background-size:20px 20px;
}
/*뉴스추가 }*/
.fb-container {
    width:100%;
    margin:0 auto;
    text-align: center;
}
@media all and (max-width: 360px){
    .edit .news-container .section .preview {
        height:275px !important;
    }
    .edit .news-container .section .preview .thum-img {
        height:150px !important;
    }
}
@media all and (max-width: 719px) {

    .edit .header .edit-box {
        position: absolute;
        top: 85px;
        right:20px;
    }
    .edit .header a.logo {
        margin:30px 0 0 20px;
        background: url(../images/logo-02@3x.png) no-repeat 0 0;
        background-size:130px 20px;
    }
    .edit .header .login-box {
        display: none;
    }
    .edit .header .edit-box a {
        padding:0 5px;
    }
    .container.edit .news-cover {
        position: relative;
        width: 100%;
        height:280px;
        padding: 220px 0 0 0;
        z-index: 10;
    }
    .container.edit h1 {
        height: 30px;
        line-height: 30px;
        font-size:23px;
    }
    .container.edit .h1_desc {
        line-height: 1.3;
        padding: 5px 0 0 0;
        font-size:17px;
    }
    .container.edit .last-edit {
        width:88%;
        left:20px;
    }
    .container.edit .view-count {
        width:auto;
        right:20px;
    }
    .edit .news-container {
        width: 96%;
        margin: 0 3% 0 1%;
    }
    .edit .news-container .section {
        position: relative;
        padding-left: 25px;
    }

    .edit .news-container .section .number {
        position: relative;
        margin-left: -50px;
        padding: 0 0 0 50px;
    }
    .edit .news-container .section .number .list-count {
        position: absolute;
        top: 0px;
        left: 10px;
        width: 27px;
        height: 27px;
        line-height: 27px;
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        background: #ef5441;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
    }
    .edit .news-container .section .news-date {
        left:50px;
    }
    .edit .news-container .section h2 {
        font-size:23px;
    }
    .edit .news-container .section h2 input{
        font-size:23px;
    }
    .edit .news-container .section .new-conts p{
        font-size: 17px;
        font-weight:300;
    }
    .edit .news-container .section .preview {
        height:325px;
    }
    .edit .news-container .section .preview .thum-img {
        height:200px;
        background-size:cover;
    }
    .edit .news-container .section .preview .title {
        max-height:27px;
        padding: 15px 10px 10px 10px;
    }
    .edit .news-container .section .preview .title p {
        width:100%;
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
    }
    .edit .news-container .section .preview .txt-area {
        padding: 0 10px;
    }
    .edit .news-container .section .preview .txt-area p {
        font-size: 14px;
        color: #666666;
        line-height: 1.4;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap: break-word;
    }

    .edit .news-container .section .preview .preview-link {
        position: absolute;
        font-size: 12px;
        color: #aaaaaa;
    }
    /*프리뷰 세로 {*/
    .edit .news-container .section .preview.vertical .title {
        min-height:40px;
    }
    /*프리뷰 세로 }*/
    .fb-container {
        width:98%;
        margin:0 auto;
        text-align: center;
    }
}
@media all and (min-width: 720px) {
    .edit .header .login-box {
        display: none;
    }
    .container.edit .news-cover {
        position: relative;
        width:100%;
        height:300px;
        padding:200px 0 0 0;
        z-index:10;
    }
    .container.edit .last-edit {
        width:720px;
        position: absolute;
        left:50%;
        margin-left:-360px;
        text-align: left;
    }
    .container.edit .view-count {
        width:720px;
        max-width:720px;
        left:50%;
        margin-left:-360px;
        text-align: right;
    }
    .edit .news-container  {
        width:720px;
        margin:0 auto;
    }
    .edit .news-container .section {
        position: relative;
        width:660px;
        padding-left:35px;
    }
    .edit .news-container .section .number {
        position: relative;
        margin-left:-60px;
        padding:0 0 0 60px;
    }
    .edit .news-container .section .preview {
        height:425px;
    }
    .edit .news-container .section .preview .thum-img {
        height:300px;
        background-size:cover;
    }
    .edit .news-container .section .preview .title {
        padding:10px 20px 5px 20px;
    }
    .edit .news-container .section .preview .txt-area {
        padding:0 20px;
    }
    .edit .news-container .section .preview .txt-area p {
        font-size:14px;
        color: #666666;
        line-height:1.4;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap:break-word;
    }
    .edit .news-container .section .preview .preview-link {
        position: absolute;
        bottom:10px;
        left:20px;
        font-size:12px;
        color: #aaaaaa;
    }

    .fb-container {
        width:720px;
        margin:0 auto;
        text-align: center;
    }
}


#cover_img {
    display: none;
}
.edit #my_menu_open_btn {
    display: none;
}
.btn-box-save{
    width:100%;
    height: 20px;
    line-height: 1.3;
    position: absolute;
    right: 20px;
    top: 20px;
    text-align: right;
}
.btn-box-save .btn-red,
.btn-box-save  .btn-gray {}
.btn-red,
.btn-gray {
    display: inline-block;
    height:40px;
    line-height:41px;
    padding:0 20px;
    color: #ffffff;
    font-size:16px;
    margin:0 0 0 20px;
    border:none;
    background:transparent;
}
.btn-red {
    background:#ef5441 !important;
}
.btn-gray{
    background:#cccccc !important;
}