@CHARSET "UTF-8";
/** COMMON **/
html, body, div, section, header, footer, article, aside, h1, h2, h3, h4, h5, p , ul ,li ,ol ,dl , dt, dd ,table, th, td, textarea {
  margin:0;
  padding:0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  border:0;
}
input, textarea {
  outline:none;
}
a, a:hover, a:active{
  text-decoration: none;
}
a, button {
  cursor: pointer ;
}
html, body {
  width:100%;
  height:100%;
  font-family:AppleSDGothic,"돋움",Dotum,Helvetica,Arial,"Apple Gothic",sans-serif!important;
}
html {
  overflow-x:hidden;
  overflow-y: auto;
}
body {
  position:relative;
  background:#ffffff;
  width:100%;
}
.ov-h {
  overflow:hidden;
}
.deam {
  position: absolute;
  top: 500px;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 501;
}
.wrap {
  width:100%;
  margin:0 auto;
  position: relative;
}
.btn-box-save{
  width:50%;
  height: 20px;
  line-height: 1.3;
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: right;
  z-index:500;
}
.btn-box-save .btn-red,
.btn-box-save  .btn-gray {}
.btn-red,
.btn-gray {
  display: inline-block;
  height:40px;
  line-height:41px;
  padding:0 20px;
  color: #ffffff;
  font-size:16px;
  margin:0 0 0 20px;
  border:none;
  background:transparent;
}
.btn-red {
  background:#ef5441 !important;
}
.btn-gray{
  background:#cccccc !important;
}
/* header { */
.header {
  position: relative;
  width:100%;
  height:80px;
  background:#ffffff;
}
.header a.logo {
  display: block;
  float:left;
  margin:30px 0 0 30px;
  width: 131px;
  height: 20px;
  background:url(../images/logo-01@3x.png) no-repeat;
  background-size:131px 20px
}
.header .logo span{
  font-size:0;
  line-height:0;
}
.header .mymenu {
  position: absolute;
  right:30px;
  top:30px;
  text-align:right;
}
.header .mymenu .icon-mymenu {
  display: block;
  width:24px;
  height:20px;
  text-align:right;
  background:url(../images/icon-menu-r@3x.png) no-repeat;
  background-size:24px 20px;
}
.header .mymenu .active .logon {
  display: block;
}
/* header }*/
.user-profile {
  display: none;
}

/* mymenu {*/
.menu-on-box {
  display: none;
  position: absolute;
  top:0;
  right:0;
  background: rgba(0, 0, 0, 0.3);
  width:100%;
  height:100%;
  z-index:501;
}
.menu-on-box .log-on-box {
  width:300px;
  height:100%;
  background:#ffffff;
  position: absolute;
  top:0;
  right:0;
}
.menu-on-box .log-on-box .inner-box{
  position: relative;;
}
.menu-on-box .log-on-box .user {
  position: relative;
  width:280px;
  height:35px;
  line-height:35px;
  padding:25px 20px 20px 0;
  text-align: right;
  color: #666666;
  border-bottom:1px solid #eeeeee;
}
.log-on-box .user span {
  display: inline-block;
}
.log-on-box .user .user-position{
  font-size:12px;
  color: #bbbbbb;
  vertical-align: middle;
}
.log-on-box .user .user-name {
  font-size:18px;
  color: #666666;
  margin:0 6px;
}
.log-on-box .user .user-img {
  width:34px;
  height:34px;
}
.log-on-box .user .user-img img{
  width:34px;
  height:34px;
  border-radius:30px;
  vertical-align: top;
}
.log-on-box .user .btn-close {
  display: block;
  width:18px;
  height:20px;
  position: absolute;
  top:32px;
  left:20px;
  background:url(../images/icon-cacl@3x.png) no-repeat center center;
  background-size:18px;
}
.log-on-box .txt-notice{
  padding:20px 20px 0 20px;
  position: relative;
  font-weight: normal;
  border-bottom:1px solid #eeeeee;
}
.log-on-box .txt-notice p strong{
  font-size:18px;
  color: #ef5441;
}
.log-on-box .txt-notice p{
  color: #333333;
  line-height:24px;;
}
.log-on-box .txt-notice span{
  font-size:14px;
  line-height:20px;
  color: #999999;
}
.log-on-box .txt-notice ul {
  margin-top:10px;
}
.log-on-box .txt-notice li {
  position: relative;
  height:20px;
  padding:0 0 20px 0;
}
.log-on-box .txt-notice a{
  display: block;
  width:100%;
  height:100%;
  line-height: 20px;
  padding:0 0 0 30px;
  font-size: 14px;
  color: #333333;

}
.log-on-box .txt-notice a span{
  color: #ef5441;
}
.log-on-box .txt-notice .addnews a {
  background:url(../images/icon-addnews@3x.png) no-repeat;
  background-size: 16px;
}
.log-on-box .txt-notice .muggle-note a{
  background:url(../images/icon-newsnote@3x.png) no-repeat;
  background-size: 16px;
}
.log-on-box .txt-notice .mg-fb a{
  background:url(../images/icon-list-fb@3x.png) no-repeat;
  background-size: 16px;
}
.log-on-box .txt-notice .muggle-out a{
  background:url(../images/icon-logout@3x.png) no-repeat;
  background-size: 16px;
}
.log-on-box .txt-notice .mg-fb .fb-like-count{
  position: absolute;
  top:0;
  right:0;
}
.log-on-box .footer {
  padding:20px;
  border-top:1px solid #eeeeee;
}
/* mymenu }*/
/* footer { */
.footer {
  position: relative;
  width:100%;
  height:110px;
  margin:0 auto;
}
.foot-wrap {
  padding: 30px 10px;
}
.footer ul {
  width:100%;
  height:20px;
  text-align: center;
}
.footer ul li {
  display: inline-block;
  height:17px;
  line-height:17px;
  text-align: left;
  font-size:14px;
  color: #4d4d4d;
}
.footer ul li a {
  display: block;
  position: relative;
  text-align: center;
  padding:0 10px;
  font-size:13px;
  color: #4d4d4d;
}
.footer ul li a::after {
  position: absolute;
  top:0;
  left:0;
  content:"|";
  color: #dddddd;
  font-size:14px;
}
.footer ul li a:hover{
  color: #4d4d4d;
}
.footer ul li:first-child a {
  border:none;
  padding:0 5px 0 0;
}
.footer ul li:first-child a::after {
  display: none;
}
.footer .copyright {
  margin-top:10px;
}
.footer .copyright p{
  text-align: center;
  font-size:12px;
  color: #bbbbbb;
}
.footer .goto-facebook {
  display: block;
  line-height:24px;
  padding-top:30px;
  text-align: center;
  font-size:14px;
  color: #999999;
}
.footer .goto-facebook img{
  width:24px;
  height:24px;
  margin-left:10px;
}
/* footer ) */

/* 스토리뉴스 미리보기 {*/
.muggle-preview-main {
  width:100%;
  text-align: center;
  margin:0 auto;
}
.muggle-preview-main h3 {
  width:100%;
  height:85px;
  line-height:85px;;
  font-size:24px;
  text-align: center;
  color: #666666;
}
.muggle-preview-main .muggle-preview-list {
  width:305px;
  margin:0 auto 15px;
  overflow: hidden;
}
.muggle-preview-main .muggle-preview-list a {
  position: relative;
  display: block;
  float:left;
  width:100%;
  height:170px;
  margin:0 0 20px 0;
  overflow: hidden;
  background:url(../images/img_cover_base_00.png) no-repeat center center;
  background-size:cover;
}
.muggle-preview-main .muggle-preview-list .p-thum-img {
  width:100%;
  height:100%;
}
.muggle-preview-main .muggle-preview-list .p-thum-img img{
  width:100%;
  height:100%;
  display: none;/* 이미지다시넣기 전까지 임시로 안보이게 */
}
.muggle-preview-main .muggle-preview-list .p-thum-img img.has-cover {
  display: block;
}
.muggle-preview-main .muggle-preview-list .p-list-wrap {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:170px;
  padding-top:45px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.muggle-preview-main .p-list-wrap .title p{
  line-height:1.0;;
  text-align: center;
  font-size:24px;
  padding:0 5px;
  color: #ffffff;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.muggle-preview-main .p-list-wrap .desc p{
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.0;
  text-align: center;
  color: #ffffff;
  padding:6px 5px 13px 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.muggle-preview-main .muggle-preview-list .user-infor {
  width:95%;
  text-align: center;
  margin:5px auto;
  height:20px;
  line-height:20px;;
}
.muggle-preview-main .muggle-preview-list .user-infor .user-profile {
  display: inline-block;
  width:20px;
  height:20px;
  overflow: hidden;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
  border: solid 1px #ffffff;
}
.muggle-preview-main .muggle-preview-list .user-infor .user-profile img{
  width:100%;
  height:100%;
  vertical-align: middle;
  object-fit: cover;
}
.muggle-preview-main .muggle-preview-list .user-infor .user-name {
  display: inline-block;
  height:20px;
  line-height:20px;
  vertical-align: top;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #ffffff;

}
.muggle-preview-main .muggle-preview-list .last-edit {
  width:60%;
  position: absolute;
  left:10px;
  bottom:10px;;
  height:20px;
  line-height:1.3;
  text-align: left;
  font-size:14px;
  color: #ffffff;
}
.muggle-preview-main .muggle-preview-list .last-edit span{
  display: inline-block;
  margin:0 8px 0 0;
  vertical-align: top;
}
.muggle-preview-main .muggle-preview-list .last-edit .user-name,
.muggle-preview-main .muggle-preview-list .last-edit span:last-child{
  max-width:45%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.muggle-preview-main .muggle-preview-list .view-count {
  width:40%;
  position: absolute;
  right:10px;
  bottom:10px;
  height:20px;
  line-height:1.3;
  text-align: right;
  font-size:14px;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
}
.muggle-preview-main .muggle-preview-list .view-count span {
  padding-left:20px;
  background:url(../images/ico-viewcount@3x.png) no-repeat 0 3px;
  background-size: 14px 10px;
}
/*스토리뉴스 미리보기스토리뉴스 미리보기 }*/
.container{
  width: 100%;
  height: auto;
  /*background:#f05440 url(../images/main-visual@3x.png) no-repeat center 100%;;
  background-size:200px 133px;*/
  background:#f05440;
}
.container.main .contents {
  height:auto;
  padding: 0 0 70px 0;
  background:url(../images/m-img-dot@3x.png) no-repeat 7px 83px;
  background-size:18px 537px;
}
.main .contents h1 {
  padding:80px 0 0 0;
  font-size:50px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}
.main .contents h2 {
  padding-top:5px;
  font-size:18px;
  text-align: center;
  font-weight: normal;;
  color: #ffffff;
}
.main .contents .img {
  padding-top:15px;
  width:100%;
  height:40px;
  text-align: center;
}
.main .contents .img img{
  width:140px;
  height:100%;
}
.main .contents .desc {
  width:62%;
  padding-top:40px;
  text-align: center;
  margin:0 auto;
  font-size:14px;
  line-height:20px;
  color: #ffffff;;
}
.main .contents .desc br {

}
.sign-up-email {
  position: relative;
  width:100%;
  height:105px;
  margin:10px 0;
}
.sign-up-email .input-box {
  position: relative;
  width: 75%;
  height: 50px;
  margin:0 auto 5px;
  font-size:16px;
  color: #bbbbbb;
  text-align: center;
  border-radius: 25px;
  background-color: #ffffff;
}
.sign-up-email .input-box input {
  width:70%;
  height:50px;
  font-size:16px;
  color: #bbbbbb;
  border:none;
  background: transparent;
  padding:0 25px;
  text-align: center;
}
.sign-up-email .input-box input:active {
  border:none;
  outline:none;
}
.sign-up-email .btn-sign-up {
  display: block;
  position: static;;
  width: 75%;
  height: 50px;
  margin:0 auto;
  text-align: center;
  line-height:50px;
  font-size:16px;
  color: #ffffff;;
  border-radius: 25px;
  background-color: #4d4d4d;
}

/*{ 우리가 누구*/
.who-are {
  width:100%;
  overflow: hidden;
  background-color: #fafafa
}
.who-are h3 {
  width:100%;
  line-height:29px;
  padding-top:30px;
  text-align: center;
  font-size:24px;
  color: #4d4d4d;
}
.who-are .muggle-member {
  padding-top:30px;;
}
.who-are .muggle-member  ul{
  width:85%;
  text-align: center;
  margin:0 auto;
}
.who-are .muggle-member li {
  display: inline-block;
  width:33%;
  padding:100px 13px 0 13px;
  text-align: center;
}
.who-are .muggle-member li .txt {
  width:100%;
  height:70px;
  font-size:14px;
  color:#777777;
}
.who-are .muggle-member li .name {
  padding:8px 0 6px 0;
  font-size:16px;
  color:#f05440;
}
.who-are .muggle-member li.no1 {
  background: url(../images/jaipam.png) no-repeat center 0;
}
.who-are .muggle-member li.no2 {
  background: url(../images/gd.png) no-repeat center 0;
}
.who-are .muggle-member li.no3 {
  background: url(../images/lee_el.png) no-repeat center 0;
}
.who-are .muggle-member li.no4 {
  background: url(../images/bernard.png) no-repeat center 0;
}
.who-are .muggle-member li.no5 {
  background: url(../images/baka.png) no-repeat center 0;
}
.who-are .muggle-member li.no6 {
  background: url(../images/alice.png) no-repeat center 0;
}
/* 우리가 누구}*/
/*광고 배너  {*/
.adnwMRectRoot {
  margin:0 auto;
}
/* mypage {*/
.container.mypage {
  background: none;
}
.mypage .my-news-note {
  width: 100%;
  height: 80px;
  background-color: #fafafa;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #f6f6f6;
  text-align: center;
}
.mypage .my-news-note .inner-box {
  width:1140px;
  margin:0 auto;
}
.mypage .my-news-note .inner-box span {
  display: inline-block;
  line-height: 80px;
  vertical-align: top;
  font-size: 16px;
  color: #999999;
}
.mypage .my-news-note .inner-box span.user-img {
  width:50px;
  height:50px;
  overflow: hidden;
  border-radius: 50px;
}
.mypage .my-news-note .inner-box span.user-name {
  line-height: 80px;
  font-size: 22px;
  font-weight: bold;
  color: #666666;
}
.mypage .muggle-preview-list {
  width:1140px;
  margin:50px auto;
  overflow: hidden;
}
.mypage .muggle-preview-list a.btn-news-add {
  height:70px;
  padding-top:100px;
  text-align: center;
  color: #999999;
  background:url(../images/ic-note-add@3x.png) no-repeat 166px 46px;
  background-size:29px 36px;
}
.mypage .muggle-preview-list a.btn-news-add:hover {
  height:70px;
  padding-top:100px;
  text-align: center;
  color: #f1543f;
  background:url(../images/ic-note-add-over@3x.png) no-repeat 166px 46px;
  background-size:29px 36px;
}
.mypage .muggle-preview-list a {
  position: relative;
  display: block;
  float:left;
  width:360px;
  height:170px;
  margin:0 10px 30px 10px;
  overflow: hidden;
  background:url(../images/img_cover_base_00.png) no-repeat center center;
  background-size:cover;
}
.mypage .muggle-preview-list .p-thum-img {
  width:100%;
  height:100%;
}
.mypage .muggle-preview-list .p-thum-img img{
  width:100%;
  height:100%;
  display: none;/* 이미지다시넣기 전까지 임시로 안보이게 */
}
.mypage .muggle-preview-list .p-list-wrap {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:170px;
  padding-top:45px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.mypage .p-list-wrap .title p{
  line-height:1.0;;
  text-align: center;
  font-size:24px;
  padding:0 5px;
  color: #ffffff;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mypage .p-list-wrap .desc p{
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.0;
  text-align: center;
  color: #ffffff;
  padding:6px 5px 13px 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mypage .muggle-preview-list .user-infor {
  width:95%;
  text-align: center;
  margin:5px auto;
  height:20px;
  line-height:20px;;
}
.mypage .muggle-preview-list .user-infor .user-profile {
  display: inline-block;
  width:20px;
  height:20px;
  overflow: hidden;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
  border: solid 1px #ffffff;
}
.mypage .muggle-preview-list .user-infor .user-profile img{
  width:100%;
  height:100%;
  vertical-align: middle;
  object-fit: cover;
}
.mypage .muggle-preview-list .user-infor .user-name {
  display: inline-block;
  height:20px;
  line-height:20px;
  vertical-align: top;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #ffffff;

}
.mypage .muggle-preview-list .last-edit {
  width:50%;
  position: absolute;
  left:10px;
  bottom:10px;;
  height:20px;
  line-height:1.3;
  text-align: left;
  font-size:14px;
  color: #ffffff;
}
.mypage .muggle-preview-list .last-edit span{
  display: inline-block;
  margin:0 8px 0 0;
}
.mypage .muggle-preview-list .view-count {
  width:50%;
  position: absolute;
  right:10px;
  bottom:10px;
  height:20px;
  line-height:1.3;
  text-align: right;
  font-size:14px;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;

}
.mypage .muggle-preview-list .view-count span {
  padding-left:20px;
  background:url(../images/ico-viewcount@3x.png) no-repeat 0 3px;
  background-size: 14px 10px;
}
/* mypage }*/

/* 개인정보취급 방침 및 이용약관 {*/
.privacy{
  width:100%;
  background:#fafafa;
  padding:30px 0;
}
.privacy .term-box {
  position: relative;
  width:90%;
  max-width: 1000px;
  margin:0 auto 0;
  padding:60px 5%;
  background:#ffffff;
  font-size:16px;
  font-weight:300;
  color: #888888;
}
.privacy .term-box h1 {
  position: relative;
  width:100%;
  padding-top:17px;
  margin-bottom:50px;
  font-size: 44px;
  font-weight: 300;
  color: #666666;
}
.privacy .term-box h1::after {
  position: absolute;
  top:0;
  left:0;
  width:70px;
  height:3px;
  background:#666666;
  display: block;
  content:"";
}
.privacy .term-box h3 {
  line-height:1.5;
  margin-top:35px;
  font-size:18px;
  font-weight:600;
  color: #888888;
}
.privacy .term-box p {
  line-height:1.5;
  font-size:16px;
  font-weight:300;
  color: #888888;
}
.privacy .term-box li {
  line-height:1.5;
  font-size:16px;
  font-weight:300;
  color: #888888;
}
.last-privacy {
  margin:50px 0 0 0;
}
/* 개인정보취급 방침 및 이용약관 }*/
/*광고 배너  }*/
@media all and (min-width: 300px) and (max-width: 490px){
  .who-are .muggle-member li {
    display: block;
    float:left;
    width:40%;
    height:140px;
    padding:100px 5% 0 5%;
  }
  .footer {
    width:100%;
  }
  .foot-wrap {
    padding:30px 10px;
  }
  .muggle-preview-main .muggle-preview-list a {
    position: relative;
    display: block;
    float:left;
    width:100%;
    height:170px;
    margin:0 0 20px 0;
    overflow: hidden;
  }
}
@media all and (min-width: 490px) and (max-width: 768px){
  .muggle-preview-main .muggle-preview-list a {
    position: relative;
    display: block;
    float:left;
    width:100%;
    height:170px;
    margin:0 0 20px 0;
    overflow: hidden;
  }
}
@media all and (min-width: 768px) and (max-width: 980px){
  .footer {
    width:100%;
  }
  /* 스토리 뉴스 미리보기 }*/
  .muggle-preview-main {
    width:100%;
    text-align: center;
    margin:0 auto;
  }
  .muggle-preview-main .muggle-preview-list {
    width:100%;
  }
  .muggle-preview-main .muggle-preview-list a {
    position: relative;
    display: block;
    float: left;
    width: 32%;
    height: 170px;
    margin: 0 2%;
    overflow: hidden;
  }
  .muggle-preview-main .muggle-preview-list a:first-child,
  .muggle-preview-main .muggle-preview-list a:last-child {
    margin:0;
  }
  /* 스토리 뉴스 미리보기 }*/
  /*{ 우리가 누구*/
  .who-are {
  width:100%;
  background-color: #fafafa
  }
  .who-are h3 {
    width:100%;
    line-height:29px;
    padding-top:30px;
    text-align: center;
    font-size:24px;
    color: #4d4d4d;
  }
  .who-are .muggle-member {
    padding-top:30px;;
  }
  .who-are .muggle-member  ul{
    width:100%;
    text-align: center;
  }
  .who-are .muggle-member li {
    display: inline-block;
    width:29%;
    padding:100px 13px 0 13px;
    text-align: center;
  }
  .who-are .muggle-member li .txt {
    width:100%;
    height:50px;
    font-size:14px;
    color:#777777;
  }
  .who-are .muggle-member li .name {
    padding:8px 0 6px 0;
    font-size:16px;
    color:#f05440;
  }
  .footer {
    position: relative;
    width: 100%;
  }
}
@media all and (min-width: 980px) and (max-width: 1280px) {
  .wrap{
    width:100%;
  }
  .header a.logo {
    display: block;
    float:left;
    margin:30px 0 0 30px;
    width: 130px;
    height: 20px;
    background-size:130px 20px
  }

  .footer {
    position: relative;
    width:100%;
    height:auto;
    margin:0 auto;
  }
  .foot-wrap {
  padding: 30px;
  }
  .footer ul {
    width:100%;
    height:20px;
    text-align: center;
  }
  .footer ul li {
    float:left;
    height:17px;
    line-height:17px;
    text-align: left;
    font-size:14px;
    color: #4d4d4d;
  }
  .footer ul li a {
    display: block;
    position: relative;
    text-align: center;
    padding:0 10px;
    font-size:14px;
    color: #4d4d4d;
  }
  .footer ul li a::after {
    position: absolute;
    top:0;
    left:0;
    content:"|";
    color: #dddddd;
    font-size:14px;
  }
  .footer ul li a:hover{
    color: #4d4d4d;
  }
  .footer ul li:first-child a {
    border:none;
    padding:0 5px 0 0;
  }
  .footer ul li:first-child a::after {
    display: none;
  }
  .footer .copyright {
    margin-top:10px;
  }
  .footer .copyright p{
    font-size:12px;
    color: #bbbbbb;
    text-align: left;
    line-height: 100%;
  }
  .footer .goto-facebook {
    position: absolute;
    top:30px;
    right:30px;
    padding:0;
  }
  .footer .goto-facebook img{
    width:24px;
    height:24px;
  }
  /* 스토리 뉴스 미리보기 {*/
  .muggle-preview-main {
    max-width:980px;
    text-align: center;
    margin:0 auto;
  }
  .muggle-preview-main .muggle-preview-list {
    width:100%;
  }
  .muggle-preview-main .muggle-preview-list a {
    position: relative;
    display: block;
    float: left;
    width: 32%;
    height: 170px;
    margin: 0 2%;
    overflow: hidden;
  }
  .muggle-preview-main .muggle-preview-list a:first-child,
  .muggle-preview-main .muggle-preview-list a:last-child {
    margin:0;
  }
  .container{
    width: 100%;
    height: 620px;
    /*background:#f05440 url(../images/main-visual.png) no-repeat 100% 100%;
    background-size:320px 271px*/
    background:#f05440 ;
  }
  .container.main .contents {
    height:620px;
    padding:0 0 0 200px;
    background:url(../images/img-dot.png) no-repeat 150px 120px;
  }
  .main .contents h1 {
    padding:130px 0 0 0;
    text-align: left;
    font-size:80px;
    font-weight: bold;
    color: #ffffff;
  }
  .main .contents h2 {
    padding-top:5px;
    text-align: left;
    font-size:40px;
    font-weight: normal;;
    color: #ffffff;
  }
  .main .contents .img {
    padding-top:15px;
    text-align: left;
  }
  .main .contents .desc {
    width:100%;
    padding-top:55px;
    margin:0;
    text-align: left;
    font-size:16px;
    line-height:24px;
    color: #ffffff;;
  }
  .main .contents .desc br {
    display: block;
  }
  .sign-up-email {
    position: relative;
    width:500px;
    height:105px;
    margin:10px 0;
  }
  .sign-up-email .input-box {
    position: relative;
    width: 350px;
    height: 50px;
    margin:0 0 5px 0;
    font-size:16px;
    color: #bbbbbb;
    text-align: left;
    border-radius: 25px;
    background-color: #ffffff;
  }
  .sign-up-email .input-box input {
    width:300px;
    height:50px;
    font-size:16px;
    color: #bbbbbb;
    border:none;
    background: transparent;
    padding:0 25px;
    text-align: center;
  }
  .sign-up-email .btn-sign-up {
    display: block;
    position: absolute;
    right:0;
    top:0;
    width: 140px;
    height: 50px;
    margin:0 auto;
    text-align: center;
    line-height:50px;
    font-size:16px;
    color: #ffffff;;
    border-radius: 25px;
    background-color: #4d4d4d;
  }
  /*{ 우리가 누구*/
  .who-are {
  width:100%;
  background-color: #fafafa
  }
  .who-are h3 {
    width:100%;
    line-height:29px;
    padding-top:30px;
    text-align: center;
    font-size:24px;
    color: #4d4d4d;
  }
  .who-are .muggle-member {
    padding-top:30px;;
  }
  .who-are .muggle-member  ul{
    width:75%;
    margin:0 auto;
    text-align: center;
  }
  .who-are .muggle-member li {
    display: inline-block;
    width:29%;
    padding:100px 13px 0 13px;
    text-align: center;
  }
  .who-are .muggle-member li .txt {
    width:100%;
    height:50px;
    font-size:14px;
    color:#777777;
  }
  .who-are .muggle-member li .name {
    padding:8px 0 6px 0;
    font-size:16px;
    color:#f05440;
  }
  /* 우리가 누구}*/
}

@media all and (min-width: 1280px) {
  .header a.logo {
    display: block;
    float:left;
    margin:30px 0 0 30px;
    width: 130px;
    height: 20px;
    background-size:130px 20px
  }

  .footer {
    position: relative;
    width:100%;
    height:110px;
  }
  .foot-wrap {
    padding: 30px;
  }
  .footer ul {
    width:100%;
    height:20px;
    text-align: center;
  }
  .footer ul li {
    float:left;
    height:17px;
    line-height:17px;
    text-align: left;
    font-size:14px;
    color: #4d4d4d;
  }
  .footer ul li a {
    display: block;
    position: relative;
    text-align: center;
    padding:0 10px;
    font-size:14px;
    color: #4d4d4d;
  }
  .footer ul li a::after {
    position: absolute;
    top:0;
    left:0;
    content:"|";
    color: #dddddd;
    font-size:14px;
  }
  .footer ul li a:hover{
    color: #4d4d4d;
  }
  .footer ul li:first-child a {
    border:none;
    padding:0 5px 0 0;
  }
  .footer ul li:first-child a::after {
    display: none;
  }
  .footer .copyright {
    margin-top:10px;
  }
  .footer .copyright p{
    font-size:12px;
    color: #bbbbbb;
    text-align: left;
  }
  .footer .goto-facebook {
    position: absolute;
    top:30px;
    right:30px;
    padding:0;
  }
  .footer .goto-facebook img{
    width:24px;
    height:24px;
  }
  /* 스토리 뉴스 미리보기 {*/
  .muggle-preview-main {
    width:1140px;
    text-align: center;
    margin:0 auto;
  }
  .muggle-preview-main .muggle-preview-list {
     width:100%;
   }
  .muggle-preview-main .muggle-preview-list a {
    position: relative;
    display: block;
    float: left;
    width: 360px;
    height: 170px;
    margin: 0 10px;
    overflow: hidden;
  }
  /* 스토리 뉴스 미리보기 }*/
  .container{
    width: 100%;
    height: 620px;
    background:#f05440 url(../images/main-visual.png) no-repeat 90% 95%;
    background-size:390px 330px
  }
  .container.main .contents {
    height:620px;
    padding:0 0 0 230px;
    background:url(../images/img-dot.png) no-repeat 180px 120px;
  }
  .main .contents h1 {
    padding:110px 0 0 0;
    text-align: left;
    font-size:80px;
    font-weight: bold;
    color: #ffffff;
  }
  .main .contents h2 {
    padding-top:5px;
    text-align: left;
    font-size:40px;
    font-weight: normal;;
    color: #ffffff;
  }
  .main .contents .img {
    padding-top:15px;
    text-align: left;
  }
  .main .contents .desc {
    width:100%;
    padding-top:55px;
    margin:0;
    text-align: left;
    font-size:16px;
    line-height:24px;
    color: #ffffff;;
  }
  .main .contents .desc br {
    display: block;
  }
  .sign-up-email {
    position: relative;
    width:500px;
    height:105px;
    margin:10px 0;
  }
  .sign-up-email .input-box {
    position: relative;
    width: 350px;
    height: 50px;
    margin:0 0 5px 0;
    font-size:16px;
    color: #bbbbbb;
    text-align: left;
    border-radius: 25px;
    background-color: #ffffff;
  }
  .sign-up-email .input-box input {
    width:300px;
    height:50px;
    font-size:16px;
    color: #bbbbbb;
    border:none;
    background: transparent;
    padding:0 25px;
    text-align: center;
  }
  .sign-up-email .btn-sign-up {
    display: block;
    position: absolute;
    right:0;
    top:0;
    width: 140px;
    height: 50px;
    margin:0 auto;
    text-align: center;
    line-height:50px;
    font-size:16px;
    color: #ffffff;;
    border-radius: 25px;
    background-color: #4d4d4d;
  }
  /*{ 우리가 누구*/
  .who-are {
  width:100%;
  background-color: #fafafa
  }
  .who-are h3 {
    width:100%;
    line-height:29px;
    padding-top:30px;
    text-align: center;
    font-size:24px;
    color: #4d4d4d;
  }
  .who-are .muggle-member {
    padding-top:30px;;
  }
  .who-are .muggle-member  ul{
    width:100%;
    text-align: center;
  }
  .who-are .muggle-member li {
    display: inline-block;
    width:160px;
    padding:100px 13px 0 13px;
    text-align: center;
  }
  .who-are .muggle-member li .txt {
    width:100%;
    height:50px;
    font-size:14px;
    color:#777777;
  }
  .who-are .muggle-member li .name {
    padding:8px 0 6px 0;
    font-size:16px;
    color:#f05440;
  }
  /* 우리가 누구}*/
}
