@CHARSET "UTF-8";
/** COMMON **/
html, body, div, section, header, footer, article, aside, h1, h2, h3, h4, h5, p , ul ,li ,ol ,dl , dt, dd ,table, th, td, textarea {
  margin:0;
  padding:0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  border:0;
}

a, a:hover, a:active{
  text-decoration: none;
}
a, button {
  cursor: pointer ;
}
html, body {
  width:100%;
  height:100%;
  font-family:AppleSDGothic,"돋움",Dotum,Helvetica,Arial,"Apple Gothic",sans-serif!important;
}
body {
  position:relative;
  background:#ffffff;
  width:100%;
}
.wrap {
  width:100%;
  margin:0 auto;
  position: relative;
}
/* header { */
.header {
  position: relative;
  width:100%;
  height:80px;
  background:#ffffff;
}
.header a.logo {
  display: block;
  float:left;
  margin:30px 0 0 20px;
  width: 131px;
  height: 20px;
}
.header .logo img{
  width:100%;
  height:100%;
}
.header .login-box {
  position: absolute;
  right:20px;
  top:25px;
  text-align:right;
}
.header .login-box a {
  display: block;
  float:left;
  text-align: left;
  height:30px;
  line-height: 30px;
  padding:0 10px;
  font-size:14px;
  color: #ef5441;
}
.header .login-box a.login {
  position: relative;
}
.header .login-box .login::after {
  position: absolute;
  top:0;
  right:-1px;
  content:"|";
  color: #dddddd;
  font-size:14px;
}
.header .login-box a img{
  width:24px;
  height:24px;
  margin-right:10px;
  vertical-align: middle;
}
.header .login-box a span {
  line-height:32px;
  font-size: 14px;
  color: #ef5441;
  vertical-align: top;
}
.header .login-box .log-on {
  line-height:30px;
}
.header .login-box .log-on a img {
  width:24px;
  height:24px;
  margin:0 10px 0 0;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
  vertical-align: middle;
  border: solid 1px #ef5441;
}
.header .login-box .log-on a span {
  line-height:32px;
  font-size:14px;
  color:#bbbbbb;
  vertical-align: top;
}
/* header }*/
/* footer { */
.footer {
  position: relative;
  width:100%;
  height:170px;
  margin:0 auto;
}
.foot-wrap {
  padding: 30px 10px;
}
.footer ul {
  width:100%;
  height:20px;
  text-align: center;
}
.footer ul li {
  display: inline-block;
  height:17px;
  line-height:17px;
  text-align: left;
  font-size:14px;
  color: #4d4d4d;
}
.footer ul li a {
  display: block;
  position: relative;
  text-align: center;
  padding:0 10px;
  font-size:13px;
  color: #4d4d4d;
}
.footer ul li a::after {
  position: absolute;
  top:0;
  left:0;
  content:"|";
  color: #dddddd;
  font-size:14px;
}
.footer ul li a:hover{
  color: #4d4d4d;
}
.footer ul li:first-child a {
  border:none;
  padding:0 5px 0 0;
}
.footer ul li:first-child a::after {
  display: none;
}
.footer .copyright {
  margin-top:10px;
}
.footer .copyright p{
  text-align: center;
  font-size:12px;
  color: #bbbbbb;
}
.footer .goto-facebook {
  display: block;
  padding-top:30px;
  text-align: center;
}
.footer .goto-facebook img{
  width:24px;
  height:24px;
}
/* footer ) */

/* 스토리뉴스 미리보기 {*/
.muggle-preview-main {
  width:100%;
  text-align: center;
  margin:0 auto;
}
.muggle-preview-main h3 {
  width:100%;
  height:85px;
  line-height:85px;;
  font-size:24px;
  text-align: center;
  color: #666666;
}
.muggle-preview-main .muggle-preview-list {
  width:305px;
  margin:0 auto 15px;
  overflow: hidden;
}
.muggle-preview-main .muggle-preview-list a {
  position: relative;
  display: block;
  float:left;
  width:100%;
  height:170px;
  margin:0 0 20px 0;
  overflow: hidden;
}
.muggle-preview-main .muggle-preview-list .p-thum-img {
  width:100%;
  height:100%;
}
.muggle-preview-main .muggle-preview-list .p-thum-img img{
  width:100%;
  height:100%;
}
.muggle-preview-main .muggle-preview-list .p-list-wrap {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:170px;
  padding-top:45px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.muggle-preview-main .p-list-wrap .title p{
  line-height:1.0;;
  text-align: center;
  font-size:24px;
  padding:0 5px;
  color: #ffffff;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.muggle-preview-main .p-list-wrap .desc p{
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.0;
  text-align: center;
  color: #ffffff;
  padding:6px 5px 13px 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.muggle-preview-main .muggle-preview-list .user-infor {
  width:95%;
  text-align: center;
  margin:5px auto;
  height:20px;
  line-height:20px;;
}
.muggle-preview-main .muggle-preview-list .user-infor .user-profile {
  display: inline-block;
  width:20px;
  height:20px;
  overflow: hidden;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
  border: solid 1px #ef5441;
}
.muggle-preview-main .muggle-preview-list .user-infor .user-profile img{
  width:100%;
  height:100%;
  vertical-align: middle;
  object-fit: cover;
}
.muggle-preview-main .muggle-preview-list .user-infor .user-name {
  display: inline-block;
  height:20px;
  line-height:20px;
  vertical-align: top;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #ffffff;

}
/*스토리뉴스 미리보기스토리뉴스 미리보기 }*/
.container{
  width: 100%;
  height: auto;
  background:#f05440 url(../images/main-visual@3x.png) no-repeat center 100%;;
  background-size:200px 133px;
}
.container.main .contents {
  height:auto;
  padding: 0 0 150px 0;
  background:url(../images/m-img-dot@3x.png) no-repeat 7px 83px;
  background-size:18px 537px;
}
.main .contents h1 {
  padding:80px 0 0 0;
  font-size:50px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}
.main .contents h2 {
  padding-top:5px;
  font-size:18px;
  text-align: center;
  font-weight: normal;;
  color: #ffffff;
}
.main .contents .img {
  padding-top:15px;
  width:100%;
  height:40px;
  text-align: center;
}
.main .contents .img img{
  width:140px;
  height:100%;
}
.main .contents .desc {
  width:62%;
  padding-top:40px;
  text-align: center;
  margin:0 auto;
  font-size:14px;
  line-height:20px;
  color: #ffffff;;
}
.main .contents .desc br {
  display: none;
}
.sign-up-email {
  position: relative;
  width:100%;
  height:105px;
  margin:10px 0;
}
.sign-up-email .input-box {
  position: relative;
  width: 75%;
  height: 50px;
  margin:0 auto 5px;
  font-size:16px;
  color: #bbbbbb;
  text-align: center;
  border-radius: 25px;
  background-color: #ffffff;
}
.sign-up-email .input-box input {
  width:70%;
  height:50px;
  font-size:16px;
  color: #bbbbbb;
  border:none;
  background: transparent;
  padding:0 25px;
  text-align: center;
}
.sign-up-email .input-box input:active {
  border:none;
  outline:none;
}
.sign-up-email .btn-sign-up {
  display: block;
  position: static;;
  width: 75%;
  height: 50px;
  margin:0 auto;
  text-align: center;
  line-height:50px;
  font-size:16px;
  color: #ffffff;;
  border-radius: 25px;
  background-color: #4d4d4d;
}

/*{ 우리가 누구*/
.who-are {
  width:100%;
  overflow: hidden;
  background-color: #fafafa
}
.who-are h3 {
  width:100%;
  line-height:29px;
  padding-top:30px;
  text-align: center;
  font-size:24px;
  color: #4d4d4d;
}
.who-are .muggle-member {
  padding-top:30px;;
}
.who-are .muggle-member  ul{
  width:85%;
  text-align: center;
  margin:0 auto;
}
.who-are .muggle-member li {
  display: inline-block;
  width:33%;
  padding:100px 13px 0 13px;
  text-align: center;
}
.who-are .muggle-member li .txt {
  width:100%;
  height:70px;
  font-size:14px;
  color:#777777;
}
.who-are .muggle-member li .name {
  padding:8px 0 6px 0;
  font-size:16px;
  color:#f05440;
}
.who-are .muggle-member li.no1 {
  background: url(../images/jaipam.png) no-repeat center 0;
}
.who-are .muggle-member li.no2 {
  background: url(../images/gd.png) no-repeat center 0;
}
.who-are .muggle-member li.no3 {
  background: url(../images/lee_el.png) no-repeat center 0;
}
.who-are .muggle-member li.no4 {
  background: url(../images/bernard.png) no-repeat center 0;
}
.who-are .muggle-member li.no5 {
  background: url(../images/baka.png) no-repeat center 0;
}
.who-are .muggle-member li.no6 {
  background: url(../images/alice.png) no-repeat center 0;
}
/* 우리가 누구}*/
/*광고 배너  {*/
.adnwMRectRoot {
  margin:0 auto;
}

/*광고 배너  }*/
@media all and (min-width: 300px) and (max-width: 490px){
  .who-are .muggle-member li {
    display: block;
    float:left;
    width:40%;
    height:140px;
    padding:100px 5% 0 5%;
  }
  .footer {
    width:100%;
  }
  .foot-wrap {
    padding:30px 10px;
  }
  .muggle-preview-main .muggle-preview-list a {
    position: relative;
    display: block;
    float:left;
    width:100%;
    height:170px;
    margin:0 0 20px 0;
    overflow: hidden;
  }
}
@media all and (min-width: 490px) and (max-width: 768px){
  .muggle-preview-main .muggle-preview-list a {
    position: relative;
    display: block;
    float:left;
    width:100%;
    height:170px;
    margin:0 0 20px 0;
    overflow: hidden;
  }
}
@media all and (min-width: 768px) and (max-width: 980px){
  .footer {
    width:100%;
  }
  /* 스토리 뉴스 미리보기 }*/
  .muggle-preview-main {
    width:100%;
    text-align: center;
    margin:0 auto;
  }
  .muggle-preview-main .muggle-preview-list {
    width:100%;
  }
  .muggle-preview-main .muggle-preview-list a {
    position: relative;
    display: block;
    float: left;
    width: 32%;
    height: 170px;
    margin: 0 2%;
    overflow: hidden;
  }
  .muggle-preview-main .muggle-preview-list a:first-child,
  .muggle-preview-main .muggle-preview-list a:last-child {
    margin:0;
  }
  /* 스토리 뉴스 미리보기 }*/
  /*{ 우리가 누구*/
  .who-are {
  width:100%;
  background-color: #fafafa
  }
  .who-are h3 {
    width:100%;
    line-height:29px;
    padding-top:30px;
    text-align: center;
    font-size:24px;
    color: #4d4d4d;
  }
  .who-are .muggle-member {
    padding-top:30px;;
  }
  .who-are .muggle-member  ul{
    widht:100%;
    text-align: center;
  }
  .who-are .muggle-member li {
    display: inline-block;
    width:29%;
    padding:100px 13px 0 13px;
    text-align: center;
  }
  .who-are .muggle-member li .txt {
    width:100%;
    height:50px;
    font-size:14px;
    color:#777777;
  }
  .who-are .muggle-member li .name {
    padding:8px 0 6px 0;
    font-size:16px;
    color:#f05440;
  }
  .footer {
    position: relative;
    width: 100%;
  }
}
@media all and (min-width: 980px) and (max-width: 1280px) {
  .wrap{
    width:100%;
  }
  .header a.logo {
    display: block;
    float:left;
    margin:25px 0 0 30px;
    width: 196px;
    height: 30px;
  }

  .footer {
    position: relative;
    width:980px;
    height:170px;
    margin:0 auto;
  }
  .foot-wrap {
  padding: 30px;
  }
  .footer ul {
    width:100%;
    height:20px;
    text-align: center;
  }
  .footer ul li {
    float:left;
    height:17px;
    line-height:17px;
    text-align: left;
    font-size:14px;
    color: #4d4d4d;
  }
  .footer ul li a {
    display: block;
    position: relative;
    text-align: center;
    padding:0 10px;
    font-size:14px;
    color: #4d4d4d;
  }
  .footer ul li a::after {
    position: absolute;
    top:0;
    left:0;
    content:"|";
    color: #dddddd;
    font-size:14px;
  }
  .footer ul li a:hover{
    color: #4d4d4d;
  }
  .footer ul li:first-child a {
    border:none;
    padding:0 5px 0 0;
  }
  .footer ul li:first-child a::after {
    display: none;
  }
  .footer .copyright {
    margin-top:10px;
  }
  .footer .copyright p{
    font-size:12px;
    color: #bbbbbb;
    text-align: left;
    line-height: 100%;
  }
  .footer .goto-facebook {
    position: absolute;
    top:30px;
    right:30px;
    width:24px;
    height:24px;
    padding:0;
  }
  .footer .goto-facebook img{
    width:100%;
    height:100%;
  }
  /* 스토리 뉴스 미리보기 {*/
  .muggle-preview-main {
    max-width:980px;
    text-align: center;
    margin:0 auto;
  }
  .muggle-preview-main .muggle-preview-list {
    width:100%;
  }
  .muggle-preview-main .muggle-preview-list a {
    position: relative;
    display: block;
    float: left;
    width: 32%;
    height: 170px;
    margin: 0 2%;
    overflow: hidden;
  }
  .muggle-preview-main .muggle-preview-list a:first-child,
  .muggle-preview-main .muggle-preview-list a:last-child {
    margin:0;
  }
  .container{
    width: 100%;
    height: 620px;
    background:#f05440 url(../images/main-visual.png) no-repeat 100% 100%;
    background-size:320px 271px
  }
  .container.main .contents {
    height:620px;
    padding:0 0 0 200px;
    background:url(../images/img-dot.png) no-repeat 150px 120px;
  }
  .main .contents h1 {
    padding:110px 0 0 0;
    text-align: left;
    font-size:80px;
    font-weight: bold;
    color: #ffffff;
  }
  .main .contents h2 {
    padding-top:5px;
    text-align: left;
    font-size:40px;
    font-weight: normal;;
    color: #ffffff;
  }
  .main .contents .img {
    padding-top:15px;
    text-align: left;
  }
  .main .contents .desc {
    width:100%;
    padding-top:55px;
    margin:0;
    text-align: left;
    font-size:16px;
    line-height:24px;
    color: #ffffff;;
  }
  .main .contents .desc br {
    display: block;
  }
  .sign-up-email {
    position: relative;
    width:500px;
    height:105px;
    margin:10px 0;
  }
  .sign-up-email .input-box {
    position: relative;
    width: 350px;
    height: 50px;
    margin:0 0 5px 0;
    font-size:16px;
    color: #bbbbbb;
    text-align: left;
    border-radius: 25px;
    background-color: #ffffff;
  }
  .sign-up-email .input-box input {
    width:300px;
    height:50px;
    font-size:16px;
    color: #bbbbbb;
    border:none;
    background: transparent;
    padding:0 25px;
    text-align: center;
  }
  .sign-up-email .btn-sign-up {
    display: block;
    position: absolute;
    right:0;
    top:0;
    width: 140px;
    height: 50px;
    margin:0 auto;
    text-align: center;
    line-height:50px;
    font-size:16px;
    color: #ffffff;;
    border-radius: 25px;
    background-color: #4d4d4d;
  }
  /*{ 우리가 누구*/
  .who-are {
  width:100%;
  background-color: #fafafa
  }
  .who-are h3 {
    width:100%;
    line-height:29px;
    padding-top:30px;
    text-align: center;
    font-size:24px;
    color: #4d4d4d;
  }
  .who-are .muggle-member {
    padding-top:30px;;
  }
  .who-are .muggle-member  ul{
    width:75%;
    margin:0 auto;
    text-align: center;
  }
  .who-are .muggle-member li {
    display: inline-block;
    width:29%;
    padding:100px 13px 0 13px;
    text-align: center;
  }
  .who-are .muggle-member li .txt {
    width:100%;
    height:50px;
    font-size:14px;
    color:#777777;
  }
  .who-are .muggle-member li .name {
    padding:8px 0 6px 0;
    font-size:16px;
    color:#f05440;
  }
  /* 우리가 누구}*/
}

@media all and (min-width: 1280px) {
  .header a.logo {
    display: block;
    float:left;
    margin:25px 0 0 30px;
    width: 196px;
    height: 30px;
  }

  .footer {
    position: relative;
    width:1280px;
    height:170px;
  }
  .foot-wrap {
  padding: 30px;
  }
  .footer ul {
    width:100%;
    height:20px;
    text-align: center;
  }
  .footer ul li {
    float:left;
    height:17px;
    line-height:17px;
    text-align: left;
    font-size:14px;
    color: #4d4d4d;
  }
  .footer ul li a {
    display: block;
    position: relative;
    text-align: center;
    padding:0 10px;
    font-size:14px;
    color: #4d4d4d;
  }
  .footer ul li a::after {
    position: absolute;
    top:0;
    left:0;
    content:"|";
    color: #dddddd;
    font-size:14px;
  }
  .footer ul li a:hover{
    color: #4d4d4d;
  }
  .footer ul li:first-child a {
    border:none;
    padding:0 5px 0 0;
  }
  .footer ul li:first-child a::after {
    display: none;
  }
  .footer .copyright {
    margin-top:10px;
  }
  .footer .copyright p{
    font-size:12px;
    color: #bbbbbb;
    text-align: left;
  }
  .footer .goto-facebook {
    position: absolute;
    top:30px;
    right:30px;
    width:24px;
    height:24px;
    padding:0;
  }
  .footer .goto-facebook img{
    width:100%;
    height:100%;
  }
  /* 스토리 뉴스 미리보기 {*/
  .muggle-preview-main {
    width:1140px;
    text-align: center;
    margin:0 auto;
  }
  .muggle-preview-main .muggle-preview-list {
     width:100%;
   }
  .muggle-preview-main .muggle-preview-list a {
    position: relative;
    display: block;
    float: left;
    width: 360px;
    height: 170px;
    margin: 0 10px;
    overflow: hidden;
  }
  /* 스토리 뉴스 미리보기 }*/
  .container{
    width: 100%;
    height: 620px;
    background:#f05440 url(../images/main-visual.png) no-repeat 90% 95%;
    background-size:390px 330px
  }
  .container.main .contents {
    height:620px;
    padding:0 0 0 230px;
    background:url(../images/img-dot.png) no-repeat 180px 120px;
  }
  .main .contents h1 {
    padding:110px 0 0 0;
    text-align: left;
    font-size:80px;
    font-weight: bold;
    color: #ffffff;
  }
  .main .contents h2 {
    padding-top:5px;
    text-align: left;
    font-size:40px;
    font-weight: normal;;
    color: #ffffff;
  }
  .main .contents .img {
    padding-top:15px;
    text-align: left;
  }
  .main .contents .desc {
    width:100%;
    padding-top:55px;
    margin:0;
    text-align: left;
    font-size:16px;
    line-height:24px;
    color: #ffffff;;
  }
  .main .contents .desc br {
    display: block;
  }
  .sign-up-email {
    position: relative;
    width:500px;
    height:105px;
    margin:10px 0;
  }
  .sign-up-email .input-box {
    position: relative;
    width: 350px;
    height: 50px;
    margin:0 0 5px 0;
    font-size:16px;
    color: #bbbbbb;
    text-align: left;
    border-radius: 25px;
    background-color: #ffffff;
  }
  .sign-up-email .input-box input {
    width:300px;
    height:50px;
    font-size:16px;
    color: #bbbbbb;
    border:none;
    background: transparent;
    padding:0 25px;
    text-align: center;
  }
  .sign-up-email .btn-sign-up {
    display: block;
    position: absolute;
    right:0;
    top:0;
    width: 140px;
    height: 50px;
    margin:0 auto;
    text-align: center;
    line-height:50px;
    font-size:16px;
    color: #ffffff;;
    border-radius: 25px;
    background-color: #4d4d4d;
  }
  /*{ 우리가 누구*/
  .who-are {
  width:100%;
  background-color: #fafafa
  }
  .who-are h3 {
    width:100%;
    line-height:29px;
    padding-top:30px;
    text-align: center;
    font-size:24px;
    color: #4d4d4d;
  }
  .who-are .muggle-member {
    padding-top:30px;;
  }
  .who-are .muggle-member  ul{
    widht:100%;
    text-align: center;
  }
  .who-are .muggle-member li {
    display: inline-block;
    width:160px;
    padding:100px 13px 0 13px;
    text-align: center;
  }
  .who-are .muggle-member li .txt {
    width:100%;
    height:50px;
    font-size:14px;
    color:#777777;
  }
  .who-are .muggle-member li .name {
    padding:8px 0 6px 0;
    font-size:16px;
    color:#f05440;
  }
  /* 우리가 누구}*/
}
