@CHARSET "UTF-8";
.view {
    position: relative;
}
.view .header {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:80px;
    margin:0 auto;
    z-index:150;
    background:transparent;
}
.view .header a.logo {
    width:130px;
    height:20px;
    margin:30px 0 0 20px;
    background:url(../images/logo-02.png) no-repeat 0 0;
}
.view .header .logo img {
    width:18px;
}
.view .header .logo span{
    font-size:0;
    text-indent:-999px;
}
.view .header .edit-box {
    position: absolute;
    top:30px;
    right:30px;
}
.view .header .edit-box a {
    padding:0 10px;
}
.view .header .edit-box a img{
    width:18px;
    margin-right:5px;
}
.view .header .edit-box a.delete img{
    width:15px;
}
.view .header .edit-box a span {
    font-size:14px;
    color: #ffffff;
    line-height:1.3;
}
.view .header.middle {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:80px;
    background:#ffffff;
    border-bottom: solid 1px #efefef;
}
.view .header.middle a.logo {
    background: url(../images/logo-01@3x.png) no-repeat 0 0;
    background-size:130px 20px;
}
.view .header.middle .edit-box {
    display: none;
}
.view .header.middle .login-box {
    display: block;
}
.container.view {
    position: relative;
    width:100%;
    height:auto;
    background: #ffffff;
    border-bottom:1px solid #f7f7f7;
}
.container.view .bg {
    width:100%;
    height:500px;
}
.container.view .bg img {
    width:100%;
    height:100%;
    object-fit: cover;
}
.container.view .inner-box {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:500px;
    background-color: rgba(0, 0, 0, 0.3);
}
.container.view .news-cover {
    position: relative;
    width:100%;
    height:270px;
    padding:230px 0 0 0;
    z-index:10;
}
.container.view h1 {
    width:94%;
    height:60px;
    line-height:60px;
    text-align: center;
    padding:0 3%;
    color: #ffffff;
    font-size:50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.container.view .h1_desc {
    width:94%;
    line-height:30px;
    text-align: center;
    padding:0 3%;
    color: #ffffff;
    font-size:24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.container.view .user-infor {
    width:100%;
    text-align: center;
    margin-top:25px;
    height:34px;
    line-height:34px;
}
.container.view .user-infor .user-profile {
    left:0;
    display: inline-block;
    width:33px;
    height:33px;
    overflow: hidden;
    -webkit-border-radius:34px;
    -moz-border-radius:34px;
    border-radius:34px;
    border: solid 1px #ef5441;
}
.container.view .user-infor .user-profile img{
    vertical-align: middle;
    width:100%;
    height:100%;
}
.container.view .user-name {
    display: inline-block;
    position: relative;
    line-height:33px;
    height:33px;
    font-size:18px;
    color: #ffffff;
    vertical-align: top;
}
.container.view .last-edit {
    position: absolute;
    bottom:20px;;
    height:20px;
    line-height:1.3;
    text-align: left;
    font-size:14px;
    color: #dddddd;
}
.container.view .view-count {
    position: absolute;
    bottom:20px;
    height:20px;
    line-height:1.3;
    text-align: right;
    font-size:14px;
    color: #dddddd;
}
.container.view .view-count span {
    padding-left:20px;
    background:url(../images/ico-viewcount@3x.png) no-repeat 0 3px;
    background-size: 14px 10px;
}
.view .news-container  {
    margin:0 auto;
}
.view .news-container ul {
    padding:0 0 0 22px;
    margin-top:90px;
}
.view .news-container ul li:first-child {
    padding:0;
}
.view .news-container ul li:last-child {
    padding:90px 0 150px 0;
    border-left:2px solid #ffffff;
}
.view .news-container ul li:last-child .section {
    position: relative;
}
.view .news-container ul li:last-child .section::after{
    display: block;
    position: absolute;
    top: -90px;
    left: -2px;
    width:2px;
    height:90px;
    content:"";
    background:#ffeae7;
}
.view .news-container ul li {
    display: block;
    position: relative;
    padding:90px 0 0 0;
    border-left:2px solid #ffeae7;
}
.view .news-container .section .number {
    position: relative;
    margin-left: -50px;
    padding: 0 0 0 50px;
}
.view .news-container .section .number .list-count {
    position: absolute;
    top:0;
    left:0;
    width:46px;
    height:46px;
    line-height:46px;
    text-align: center;
    font-size:24px;
    color: #ffffff;
    background: #ef5441;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
}
.view .news-container .section h2 {
    line-height:1.2;
    font-size:42px;
    color: #333333;
    font-weight:600;
}
.view .news-container .section .news-date {
    position: absolute;
    top:-26px;
    left:60px;
}
.view .news-container .section .news-date span {
    color: #999999;
    font-size:14px;
    line-height:14px;
    font-weight: 300;
}
.view .news-container .section .new-conts {
}
.view .news-container .section .new-conts p {
    font-size:16px;
    line-height:24px;
    color: #666666;;
}
.view .news-container .section .new-conts p:first-child {
    padding-top:20px;
}
.view #preview {
    position: relative;
    width:100%;
    height:275px;
    overflow: hidden;
    margin-top:20px;
    border:1px solid #f7f7f7;
}
.view #preview .preview-wrap {
    position: relative;
    height:100%;
}
.view #preview .preview-wrap a{
    display: block;
    text-align: left;
}
.view #preview .thum-img {
    width:100%;
    height:150px;
    overflow: hidden;
}
.view #preview .thum-img img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.view #preview .title {
    padding:10px 10px 5px 10px;
    text-align: left;
}
.view #preview .title p {
    font-size:20px;
    color: #333333;
    line-height:1.2;
    padding:0;
    text-align: left;
    overflow: hidden;
}

.view #preview .txt-area p {
    font-size:14px;
    color: #666666;
    line-height:1.4;
    padding:0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word;
}
.view #preview .preview-link {
    position: absolute;
    bottom:10px;
    left:10px;
    font-size:12px;
    color: #aaaaaa;
    font-weight: 300;
    display: block;
    overflow: hidden;
    width:90%;
    height:15px;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.view .news-container .section .new-conts .other-news-list {
    margin-top:30px;
    width:100%;
}
.view .other-news-list {
    overflow: hidden;
    height:110px;
}
.view .other-news-list h3 {
    text-align: left;
    font-size:18px;
    line-height:1.2;
    color: #666666;
}
.view .other-news-list li {
    float:left;
    width:170px;
    height:80px;
}
.fb-container {
    width:100%;
    margin:0 auto;
    text-align: center;
}
@media all and (max-width: 360px){
    .view #preview {
        height:275px !important;
    }
    .view #preview .thum-img {
        height:150px !important;
    }
}
@media all and (max-width: 719px) {

    .view .header .edit-box {
        position: absolute;
        top: 85px;
        right:20px;
    }
    .view .header a.logo {
        margin:30px 0 0 20px;
        background: url(../images/logo-02@3x.png) no-repeat 0 0;
        background-size:130px 20px;
    }
    .view .header .login-box {
        display: none;
    }
    .view .header .edit-box a {
        padding:0 5px;
    }
    .container.view .news-cover {
        position: relative;
        width: 100%;
        height:280px;
        padding: 220px 0 0 0;
        z-index: 10;
    }
    .container.view h1 {
        height: 30px;
        line-height: 30px;
        font-size:23px;
    }
    .container.view .h1_desc {
        line-height: 1.3;
        padding: 5px 0 0 0;
        font-size:17px;
    }
    .container.view .last-edit {
        width:88%;
        left:20px;
    }
    .container.view .view-count {
        width:auto;
        right:20px;
    }
    .view .news-container {
        width: 96%;
        margin: 0 3% 0 1%;
    }
    .view .news-container .section {
        position: relative;
        padding-left: 25px;
    }

    .view .news-container .section .number {
        position: relative;
        margin-left: -50px;
        padding: 0 0 0 50px;
    }
    .view .news-container .section .number .list-count {
        position: absolute;
        top: 0px;
        left: 10px;
        width: 27px;
        height: 27px;
        line-height: 27px;
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        background: #ef5441;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
    }
    .view .news-container .section .news-date {
        left:50px;
    }
    .view .news-container .section h2 {
        font-size:23px;
    }
    .view .news-container .section .new-conts p{
        font-size: 17px;
        font-weight:300;
    }
    .view #preview {
        height:325px;
    }
    .view #preview .thum-img {
        height:200px;
    }
    .view #preview .title {
        max-height:27px;
        padding: 15px 10px 10px 10px;
    }
    .view #preview .title p {
        width:100%;
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
    }
    .view #preview .txt-area {
        padding: 0 10px;
    }
    .view #preview .txt-area p {
        font-size: 14px;
        color: #666666;
        line-height: 1.4;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap: break-word;
    }

    .view #preview .preview-link {
        position: absolute;
        font-size: 12px;
        color: #aaaaaa;
    }
    .fb-container {
        width:98%;
        margin:0 auto;
        text-align: center;
    }
}
@media all and (min-width: 720px) {
    .view .header .login-box {
        display: none;
    }
    .container.view .news-cover {
        position: relative;
        width:100%;
        height:300px;
        padding:200px 0 0 0;
        z-index:10;
    }
    .container.view .last-edit {
        width:720px;
        position: absolute;
        left:50%;
        margin-left:-360px;
        text-align: left;
     }
    .container.view .view-count {
        width:720px;
        max-width:720px;
        left:50%;
        margin-left:-360px;
        text-align: right;
    }
    .view .news-container  {
        width:720px;
        margin:0 auto;
    }
    .view .news-container .section {
        position: relative;
        width:660px;
        padding-left:35px;
    }
    .view .news-container .section .number {
        position: relative;
        margin-left:-60px;
        padding:0 0 0 60px;
    }
    .view #preview {
        height:425px;
    }
    .view #preview .thum-img {
        height:300px;
    }
    .view #preview .title {
        padding:10px 20px 5px 20px;
    }
    .view #preview .txt-area {
        padding:0 20px;
    }
    .view #preview .txt-area p {
        font-size:14px;
        color: #666666;
        line-height:1.4;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap:break-word;
    }
    .view #preview .preview-link {
        position: absolute;
        bottom:10px;
        left:20px;
        font-size:12px;
        color: #aaaaaa;
    }

    .fb-container {
        width:720px;
        margin:0 auto;
        text-align: center;
    }
}
